<div class="image relative">
  <div class="text">
    <h2 class="top-header">GALLERY</h2>
  </div>
</div>

<div class="row">
  <div class="column">
    <img src="../../assets/photo-gallery/IMG_3520.JPG">
    <img src="../../assets/new-images/IMG_1670-preview.jpg">
    <img src="../../assets/photo-gallery/IMG_5519.JPG">

  </div>
  <div class=" column">
    <img src="../../assets/photo-gallery/IMG_4221.JPG">
    <img src="../../assets/photo-gallery/IMG_4648.JPG">
    <img src="../../assets/photo-gallery/IMG_4708.JPG">
  </div>
  <div class="column">
    <img src="../../assets/new-images/IMG_2914.jpg">
    <img src="../../assets/photo-gallery/IMG_4216.JPG">
    <img src="../../assets/photo-gallery/IMG_6260.JPG">
  </div>
  <div class="column">
    <img src="../../assets/photo-gallery/IMG_6301.JPG">
    <img src="../../assets/new-images/IMG_1675-preview.jpg">
    <img src="../../assets/photo-gallery/IMG_5954.JPG">
  </div>
</div>


<app-quote-box></app-quote-box>
