<a name="top"></a>
<div class="image relative">
  <div class="text">
    <h2 class="top-header">ABOUT US</h2>
  </div>
</div>

<div class="areas-container">
  <div class="areas-img">
    <img src="../../assets/TEST/map-update-dark.png" alt="MJ Builders service areas" class="map-img">

  </div>

  <div class="areas-text">
    <h2 class="areas-head">Areas We Serve</h2>
    <div class="areas-sub">Serving San Diego & Riverside County for years and years to come.</div>
    <div class="btn-container">
      <button class="contact-btn" routerLink="/contact" routerLinkActive="active">CONTACT US</button>
    </div>
  </div>
</div>

<div class="work-container">
  <h2>24-Hour Emergency Cleanup & Restoration</h2>
  <p class="margin-bot">Our Mission statement is property restoration & insurance claim facilitation. The team at MJ
    Builders has over 100+ years of combined property damage experience. Our staff specializes in residential,
    commercial industrial, and multifamily properties impacted by fire, water, natural disasters, and motor vehicle
    damage. Feel free to contact us anytime.

  </p>
  <p>At MJ Builders, we know that your biggest concern is getting back into your property as fast and safely as
    possible. We
    work with our property owners to make sure they feel as comfortable as possible with the services being
    provided.</p>
</div>



<app-quote-box></app-quote-box>
