<div class="image relative">
  <div class="text">
    <h2 class="top-header">VEHICLE DAMAGE</h2>
  </div>
</div>

<div class="description-container">

  <div class="text-container">
    <div class="first-text-container padding-top">
      <div class="first-header">
        <h1>VEHICLE DAMAGE</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam nisi magni officiis autem magnam,
          perspiciatis tempore aut mollitia praesentium necessitatibus doloremque veritatis amet vel voluptatem, ex
          officia quaerat suscipit itaque.</p>
        <p>With damages like this, you want to take it very seriously. Our technicians at MJ Builders will make sure to
          assess the property damages and plan to execute the project. Contact us 24/7 to get ahead on your mold removal
          services.</p>
      </div>
    </div>


    <!-- <div class="first-text-container padding-top">
      <div class="first-header">
        <h1>SMOKE DAMAGE</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam soluta, velit veritatis beatae odio tempora,
          iste dolores ipsa temporibus quisquam ex blanditiis assumenda, perspiciatis consequatur quam repudiandae
          recusandae nam quod. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates, quod non odit
          facere nemo, consectetur neque eaque, excepturi eius ad fugit voluptatem necessitatibus labore. Explicabo
          debitis quibusdam eligendi laboriosam recusandae.</p>
      </div>
    </div> -->

  </div>

  <div class="img-container">
    <div class="img-line"></div>
    <img class="img-load" src="../../../assets/TEST/Screenshot 2022-11-08 105132 (1).jpg" alt="">
  </div>
</div>

<div class="call-us-btn-container">
  <a href="tel:619-997-1955"> <button class="call-btn">CALL FOR A FREE ASSESSMENT! <span>(619)
        997-1955</span></button></a>
</div>
