<div class="image relative">
  <div class="text">
    <h2 class="top-header">VEHICLE DAMAGE</h2>
  </div>
</div>

<div class="description-container">

  <div class="text-container">
    <div class="first-text-container padding-top">
      <div class="first-header">
        <h1>VEHICLE DAMAGE</h1>
        <p>Vehicle damage to a property is extremely invasive. Resulting in business interruption and loss of use.
          That’s why MJ Builders focuses on completing the necessary work as efficiently as possible.
        </p>
        <p>
          We handle everything from the initial board-up and damaged assessment to the full repair of your
          property/business while facilitating your claim with your insurance carrier. This means that we can quickly
          make repairs to your property, restoring it to its pre-loss condition.</p>

      </div>
    </div>


    <!-- <div class="first-text-container padding-top">
      <div class="first-header">
        <h1>SMOKE DAMAGE</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam soluta, velit veritatis beatae odio tempora,
          iste dolores ipsa temporibus quisquam ex blanditiis assumenda, perspiciatis consequatur quam repudiandae
          recusandae nam quod. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates, quod non odit
          facere nemo, consectetur neque eaque, excepturi eius ad fugit voluptatem necessitatibus labore. Explicabo
          debitis quibusdam eligendi laboriosam recusandae.</p>
      </div>
    </div> -->

  </div>

  <div class="img-container">
    <div class="img-line"></div>
    <img class="img-load" src="../../../assets/TEST/Screenshot 2022-11-08 105132 (1).jpg" alt="">
  </div>
</div>

<div class="call-us-btn-container">
  <a href="tel:619-997-1955"> <button class="call-btn">CALL FOR A FREE ASSESSMENT! <span>(619)
        997-1955</span></button></a>
</div>
