<!-- <div class="contact-bar">
  <h2>RESIDENTIAL & COMMERCIAL RESTORATION SERVICES <svg class="phone-icon" xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 512 512">

      <path
        d="M18.92 351.2l108.5-46.52c12.78-5.531 27.77-1.801 36.45 8.98l44.09 53.82c69.25-34 125.5-90.31 159.5-159.5l-53.81-44.04c-10.75-8.781-14.41-23.69-8.974-36.47l46.51-108.5c6.094-13.91 21.1-21.52 35.79-18.11l100.8 23.25c14.25 3.25 24.22 15.8 24.22 30.46c0 252.3-205.2 457.5-457.5 457.5c-14.67 0-27.18-9.968-30.45-24.22l-23.25-100.8C-2.571 372.4 5.018 357.2 18.92 351.2z" />
    </svg> <a style="cursor: pointer; color: white;  text-decoration: none;" href="tel:951-378-2087">951-378-2087</a>
  </h2>
</div> -->
<div class="image relative" style="width: 100%">
  <div class="text">
    <div class="decor-line"></div>
    <div class="text-container">
      <h2 class="main-text margin-bot colored-text">MJ BUILDERS,</h2>
      <h2 class="main-text colored-text margin-bot">YOUR LOCAL</h2>
      <h2 class="main-text colored-text"> LARGE LOSS SPECIALISTS</h2>
      <h2 class="subtext">WE FACILITATE YOUR INSURANCE CLAIM WITH <strong class="bold">ZERO
          OUT-OF-POCKET</strong> COST</h2>
      <div class="button-container">
        <button routerLink="/contact" routerLinkActive="active" class="contact-btn">CONTACT US</button>
        <button routerLink="/about" routerLinkActive="active" class="about-btn">ABOUT US</button>
      </div>
    </div>
  </div>

</div>

<div class="what-we-do-container" style="width: 100%">

  <div class="what-text">

    <div class="what-header">
      <h2 class="what-head">What We Do</h2>
      <div class="horizontal-line"></div>
      <h2 class="what-subhead">We provide 24/7 Water, Fire, and Structural Restoration services.
      </h2>
    </div>
    <div class="what-paragraph">
      <p class="informational-text">MJ Builders is a property damage restoration company that provides restoration
        services, day or night. We specialize in properties that result in damage from water, fire, smoke, vehicle
        impacts, natural disasters,
        and many others. Our top priority is making sure that you get back your property that you had pre-disaster.
      </p>

    </div>
  </div>


  <div class="what-we-img-container">
    <div class="img-line"></div>
    <img src="../../assets/new-images/home-on-fire.jpg" alt="home on fire">
  </div>
</div>

<div class="servicesImg servicesRelative">
  <div class="servicesText">
    <div class="servicesText-container">
      <h2 class="services-main-text">Our Services</h2>
      <h2 class="services-main-subtext margin-bot">Restoration services for properties that experience large-scale
        property damage.</h2>
      <div class="services-box-container space-bot">
        <div class="services-box" [ngClass]="{'active-learn': learnHover === 'fire'}">
          <div class="box-img fire"></div>
          <div class="box-content">
            <h2 class="service-title">Fire Restoration</h2>
            <p class="service-learn" routerLink="/firedmg" routerLinkActive="active"
              (mouseover)="hoverLearn('fire', true)" (mouseleave)="hoverLearn('fire', false)">LEARN MORE ></p>
          </div>
        </div>
        <div class="services-box" [ngClass]="{'active-learn': learnHover === 'water'}">
          <div class="box-img water"></div>
          <div class="box-content">
            <h2 class="service-title">Water Restoration</h2>
            <p class="service-learn" routerLink="/waterdmg" routerLinkActive="active"
              (mouseover)="hoverLearn('water', true)" (mouseleave)="hoverLearn('water', false)">LEARN MORE ></p>
          </div>
        </div>
        <div class="services-box" [ngClass]="{'active-learn': learnHover === 'mold'}">
          <div class="box-img mold"></div>
          <div class="box-content">
            <h2 class="service-title">Vehicle Damage</h2>
            <p class="service-learn" routerLink="/vehicle-damage" routerLinkActive="active"
              (mouseover)="hoverLearn('mold', true)" (mouseleave)="hoverLearn('mold', false)">LEARN MORE ></p>
          </div>
        </div>

        <div class="services-box" [ngClass]="{'active-learn': learnHover === 'commercial'}">
          <div class="box-img commercial"></div>
          <div class="box-content">
            <h2 class="service-title">Construction & Commercial Services</h2>
            <p class="service-learn" routerLink="/commercial" routerLinkActive="active"
              (mouseover)="hoverLearn('commercial', true)" (mouseleave)="hoverLearn('commercial', false)">LEARN MORE >
            </p>
          </div>
        </div>
      </div>
      <div class="services-box-container">


        <!-- <div class="services-box" [ngClass]="{'active-learn': learnHover === 'commercial'}">
          <div class="box-img commercial"></div>
          <div class="box-content">
            <h2 class="service-title">Construction & Commercial Services</h2>
            <p class="service-learn" routerLink="/commercial" routerLinkActive="active"
              (mouseover)="hoverLearn('commercial', true)" (mouseleave)="hoverLearn('commercial', false)">LEARN MORE >
            </p>
          </div>
        </div> -->
      </div>
    </div>

  </div>
</div>
<app-quote-box></app-quote-box>
