<div class="quote-container" style="width: 100%">
  <div class="quote-text-box">
    <!-- <h2 class="quote-head">Get a Quote Today</h2> -->
    <p class="quote-subtext">We provide Fire, Smoke, and Water damage services throughout San Diego &
      Riverside county.
    </p>
    <p class="quote-subtext">Contact us today to find out how easy it is to get started.</p>
  </div>
  <div class="quote-btn-box">
    <button routerLink="/contact" routerLinkActive="active" class="contact-us-btn">CONTACT US TODAY</button>
    <a class="phone-btn" href="tel:619-997-1955">(619) 997-1955</a>
  </div>
</div>
